<form>
    <h1>Register</h1>
    <div class="form-field">
        <label for="fname">Full Name</label>
        <input type="text" class="form-input" name="fname">
    </div>
    <div class="form-field">
        <label for="email">Email</label>
        <input type="email" class="form-input" name="email">
    </div>
    <div class="form-field">
        <label for="password">Password</label>
        <input type="password" class="form-input" name="password">
    </div>
    <div class="form-field">
        <label for="cpassword">Confirm Password</label>
        <input type="password" class="form-input" name="cpassword">
    </div>

    <button type="submit" class="btn">Register</button>
    <p>If you are already register then <a routerLink="/login">Click here</a></p>
</form>